<p style="text-align:center">
PSY 394U <b>Python Coding for Psychological Sciences</b>, Fall 2017

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Python logo" width="200">
</p>

<h1 style="text-align:center"> Lists </h1>

<h4 style="text-align:center"> September 28 - October 3, 2017 </h4>
<hr style="height:5px;border:none" />
<p>

# 1. What is a list?
<hr style="height:1px;border:none" />

Imagine you have 4 variables with names.

In [1]:
memberName1 = 'Paul'
memberName2 = 'John'
memberName3 = 'George'
memberName4 = 'Ringo'

And you can print them with

In [2]:
print('The band members are:')
print('   ' + memberName1)
print('   ' + memberName2)
print('   ' + memberName3)
print('   ' + memberName4)

The band members are:
   Paul
   John
   George
   Ringo

But instead of creating 4 separate variables with similar names, you can store the same information in a container known as a list. Here is a program that does the same thing as above, using a **list**.

`<BandMembers.py>`

In [4]:
memberNames = ['Paul', 'John', 'George', 'Ringo']

print('The band members are:')
for iName in memberNames:
    print('   ' + iName)

The band members are:
   Paul
   John
   George
   Ringo

If you want to add another item on the list, then you simply modify the list

In [ ]:
memberNames = ['Paul', 'John', 'George', 'Ringo', ‘Yoko’]

instead of creating another variable named `memberName5`.

# 2. Content of a list
<hr style="height:1px;border:none" />

A **list** consists of a collection of items separated by a comma (`,`) inside square brackets (`[ ]`). You can assign a name to a list in a same way as you name a variable. A list can contain numbers,

In [5]:
numberList = [1, 5, 23, 512, 1023.5]
print(numberList)

[1, 5, 23, 512, 1023.5]

Or strings,

In [6]:
fruits = ['apple', 'orange', 'banana', 'pineapple']
print(fruits)

['apple', 'orange', 'banana', 'pineapple']

Or mixture of them.

In [7]:
mixed = ['cashew', 'almond', 55, -10.25]
print(mixed)

['cashew', 'almond', 55, -10.25]

You can also have a list inside another list.

In [8]:
mixedList = [10, 25, ['George', 'Ringo'], 'apple']
print(mixedList)

[10, 25, ['George', 'Ringo'], 'apple']

To access an individual item of a list, you can use an index inside square brackets. For example,

In [9]:
memberNames = ['Paul', 'John', 'George', 'Ringo', 'Yoko']
memberNames[0]

'Paul'

In [10]:
memberNames[1]

'John'

In [11]:
memberNames[4]

'Yoko'

Notice that the indices start from 0 (referring to the first item on the list) and end with 4 (or, the number of items minus 1). You can use the **`len()`** function to figure out how many items are in a list.

In [12]:
len(memberNames)

5

A list can contain just a single item

In [13]:
oneList = ['one']
len(oneList)

1

In [14]:
print(oneList)

['one']

Or  no item at all

In [15]:
emptyList = []
len(emptyList)

0

In [16]:
print(emptyList)

[]

If you have a list inside another list, then you can access individual values by using two indices. For example,

In [17]:
mixedList = [10, 25, ['George', 'Ringo'], 'apple']
mixedList[0]

10

In [18]:
mixedList[2]

['George', 'Ringo']

In [19]:
mixedList[2][0]

'George'

In [20]:
mixedList[3]

'apple'

Notice that `mixedList[2]` is a list containing two items. To access an individual item in that list, you add another index. 

In Python, you can also use a negative index to access individual items on a list. A negative index starts from -1, the last item on the list.

In [21]:
fruits = ['apple', 'orange', 'banana', 'pineapple']
fruits[-1]

'pineapple'

In [22]:
fruits[-4]

'apple'

The negative index goes as far as the number of items on the list (in this example, -4).

### Exercise
1. You have a list
```python
animal = ['dog', 'cat', 'tiger', 'lion', 'moose', 'panda']
```
How do you access the following items using an index?
  1. `'dog'`
  2. `'lion'`
  3. `'moose'`
  
2. You have a list
```python
listList = [['car', 'bus', 'bike'], [15, 1.5, 0, -5]]
```
How do you access the following items using an index?
  1. `'bus'`
  2. `'bike'`
  3. `0`
  4. `-5`

# 3. Slicing a list
<hr style="height:1px;border:none" />

Now, you can access multiple items on a list, to generate a sublist. This is known as *slicing*. For example, in a list

In [23]:
animal = ['dog', 'cat', 'tiger', 'lion', 'moose', 'panda', 'bear']

you want to access a sublist consisting of `cat`, `tiger`, and `lion`. In that case, you can use

In [24]:
animal[1:4]

['cat', 'tiger', 'lion']

This sublist consists of items `animal[1]`, `animal[2]`, and `animal[3]`. But not `animal[4]`. Inside the square brackets (i.e., `1:4`) is often referred as a **slice** (as opposed to an index, which is a single value). In a slice, the first number corresponds to where the slice starts, and the second number corresponds to one after the slice ends. Here are more examples of slices

In [25]:
animal[4:7]

['moose', 'panda', 'bear']

In [26]:
animal[0:1]

['dog']

You can omit one of the numbers when you write a slice. If you omit the first number, then 0 is used. If you omit the second number, then the length of the list is used. For example,

In [27]:
animal[:5]

['dog', 'cat', 'tiger', 'lion', 'moose']

In [28]:
animal[5:]

['panda', 'bear']

Notice that `animal[:5]` is the same as `animal[0:5]`, whereas `animal[5:]` is the same as `animal[5:7]`.

You can also create a sublist with every other items in a list. For example,

In [29]:
animal[0:6:2]

['dog', 'tiger', 'moose']

The third number in the slice specifies the step between items. For example, `0:6:2` means 0, 2, and 4 (notice elements are separated by 2 in their indices).

### Exercise
1. **Animal list**. In the list **`animal`** described above, write a slice that accesses the following items
  1. `'dog', 'cat'`
  2. `'moose', 'panda'`
  3. `'moose', 'panda', 'bear'`
  4. `'panda', 'bear'`

2.	**Slicing nested lists**. You have a list
```python
runs = [['A', 'B', 'C'],['D', 'E', 'F'], [38, 42, 44]]
```
Write an index and/or a slice to access the following items
  1. `['A', 'B', 'C']`
  2. `['B', 'C']`
  3. `['D', 'E']`
  4. `[38, 42]`

# 4. Manipulating a list
<hr style="height:1px;border:none" />

You can change the value of individual items on a list, just the same way as changing a variable.

In [30]:
bigCats = ['lion', 'tiger', 'leopard', 'cheetah']
bigCats[3] = 'panther'
bigCats

['lion', 'tiger', 'leopard', 'panther']

In [31]:
bigCats[1] = 'lynx'
bigCats

['lion', 'lynx', 'leopard', 'panther']

You can concatenate two lists with a `+` operator.

In [32]:
vege = ['kale', 'tomato', 'spinach']
fruits = ['apple', 'lemon', 'pear']
produce = vege + fruits
produce

['kale', 'tomato', 'spinach', 'apple', 'lemon', 'pear']

You can repeat a list with a `*` operator.

In [33]:
conditions = ['A', 'B', 'C']
taskDesign = conditions * 3
taskDesign

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

You can delete items with a **`del`** statement and the item(s) to be deleted. You can use either an index or a slice.

In [34]:
animal = ['dog', 'cat', 'tiger', 'lion', 'moose', 'panda', 'bear']
del animal[2]
animal

['dog', 'cat', 'lion', 'moose', 'panda', 'bear']

In [35]:
del animal[:3]
animal

['moose', 'panda', 'bear']

### Exercise
1. You have a list
```python
minutes = [0, 15, 30, 45, 60, 75, 90, 105, 120]
```
  Do the following
  1. Delete numbers greater than or equal to 60.
  2. Then, replace 45 with 40
  3. Then, repeat the list 3 times

2.	**`List with repeated numbers`**. Write a function that takes a list of numbers as input, and returns a new list with each item in the original list repeated a number of times based on its value. In other words, if the input is 
```python
[4, 3, 2, 3]
```
Then the function returns a list
```python
[4, 4, 4, 4, 3, 3, 3, 2, 2, 3, 3, 3]
```

# 5. Using a list for a `for` loop
<hr style="height:1px;border:none" />

Remember in a `for` loop, we used a `range()` function to describe values inside the `for` loop. Instead of a `range` function, we can use a list in a `for` loop too.

`<ForLoopWithNumList.py>`

In [37]:
minutes = [0, 15, 30, 45, 60, 75, 90, 105, 120]
for iMin in minutes:
    print('Elapsed time = ' + str(iMin))

Elapsed time = 0
Elapsed time = 15
Elapsed time = 30
Elapsed time = 45
Elapsed time = 60
Elapsed time = 75
Elapsed time = 90
Elapsed time = 105
Elapsed time = 120

Notice that you can use each items in the list individually inside the `for` loop. Here is another example of using a list for a `for` loop.

`<ForLoopWithStrList.py>`

In [39]:
menu = ['Chili', 'Hot Dog', 'Salad', 'Tacos', 'Pizza']
for iMenu in menu:
    print("Today's special is " + iMenu)

Today's special is Chili
Today's special is Hot Dog
Today's special is Salad
Today's special is Tacos
Today's special is Pizza

Whether to use a list or a `range` function is up to you. In some cases, it makes sense to use a `range` function for a `for` loop.

`<ForLoopWithRange.py>`

In [41]:
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
menu = ['Chili', 'Hot Dog', 'Salad', 'Tacos', 'Pizza']
for i in range(len(day)):
    print(day[i] + "'s special is " + menu[i])

Monday's special is Chili
Tuesday's special is Hot Dog
Wednesday's special is Salad
Thursday's special is Tacos
Friday's special is Pizza

There is a way to use both an index and an item in a list using the **`enumerate`** function. For example,

`<ForLoopWithEnumerate.py>`

In [43]:
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
menu = ['Chili', 'Hot Dog', 'Salad', 'Tacos', 'Pizza']
for i, iDay in enumerate(day):
    print(iDay + "'s special is " + menu[i])

Monday's special is Chili
Tuesday's special is Hot Dog
Wednesday's special is Salad
Thursday's special is Tacos
Friday's special is Pizza

The variable **`i`** holds the index of the elements on the list day, whereas **`iDay`** holds the value of the elements.

### Exercise
1. **Experiment info**. You have the following list of study subjects
```python
subjectID = ['001', '003', '004', '006', '009', '012']
```
along with the experimental paradigm codes used for these subjects
```python
expCode = [0, 1, 0, 2, 3, 2]
```
The paradigm code can be used as the index to look up the list of paradigms
```python
expParadigm = ['congruent', 'incongruent', 'mixed', 'null']
```
For example, if the paradigm code is 2, then the corresponding paradigm can be found as `expParadigm[2]`$\rightarrow$`'mixed'`. Write a program with a `for` loop with `enumerate()` function to produce a table print out of subject IDs and the corresponding experimental paradigms.

# 6. A string is list-like
<hr style="height:1px;border:none" />

You can also use a string for a `for` loop. This is because a string is similar to a list.

In [44]:
text = 'Python is fun!'
text[0]

'P'

In [45]:
text[:6]

'Python'

In [46]:
text[-4:]

'fun!'

So, you can do the following.

`<ForLoopWithString.py>`

In [ ]:
text = 'This string is written vertically'
for i in text:
    print(i)

Each letter from the string text is used inside the `for` loop.

### Exercise
1. **Waitlist**. A waitlist for a flight for a certain airline only shows the first 3 letters of the last name of passengers. The last names of the passengers on the waitlist are
```
Albert
Brewer
Chu
Delgado
Ellsworth
Franco
```
  Write a program that displays only the first 3 letters of the last names.