<p style="text-align:center">
PSY 394U <b>Python Coding for Psychological Sciences</b>, Fall 2017

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Python logo" width="200">
</p>

<h1 style="text-align:center"> Operations & Variables </h1>

<h4 style="text-align:center"> September 5, 2017 </h4>
<hr style="height:5px;border:none" />
<p>

# 1. Math operators
<hr style="height:1px;border:none" />

In your Python shell, try typing the following.

In [1]:
2 + 2

4

This is a simple example of expression. An expression is an instruction
consisting of numbers (e.g., 2) and mathematical operators (e.g. +). Any space in
an expression is ignored. So you can get the same results by typing:

In [ ]:
2 + 2

In [ ]:
2+2

In [ ]:
2 +2

I usually put a space between a number and an operator, for the sake of
readability later. But that’s up to your personal preference.
There are other basic mathematical operators as well. The ones you may use
are:

**Addition (`+`):**

In [2]:
2 + 2

4

**Subtraction (`-`):**

In [3]:
55 - 38

17

**Multiplication (`*`):**

In [4]:
2 * 3.14

6.28

**Integer division** (returns the answer in an integer, or a whole number) **(`//`):**

In [5]:
33 // 9

3

**Division (`/`):**

In [6]:
33 / 9

3.6666666666666665

__Exponent (`**`):__

In [7]:
2**3

8

You can use multiple operators in a single expression. If you do so, some
operators will be calculated before others. The order is very similar to a typical
mathematical expression. Here is the order:

  * Parentheses `( )`
  * Exponent (`**`)
  * Division (`/`, `//`) and multiplication (`*`)
  * Addition (`+`) and subtraction (`-`)

Here is an example.

In [ ]:
5 * 8 + 3 * 3**3 / 9

In this expression, `3**3` (=27) is calculated first. So this expression becomes

In [ ]:
5 * 8 + 3 * 27 / 9

In this revised expression, `5*8` is calculated next and the expression becomes

In [ ]:
40 + 3 * 27 / 9

Then `3*27` is calculated next, and so on. You get the idea. If you want to change
the order of mathematical operations, you can use parentheses `( )` to denote
operations to be performed first. For example,

In [ ]:
(2 + 3) * 8 + (6 + 4) * 2

In this expression, `2+3` (=5) and `6+4` (=10) are calculated first, then the
expression becomes

In [ ]:
5 * 8 + 10 * 2

Then `5*8` and `10*2` are calculated next. In contrast, without the parentheses,

In [ ]:
2 + 3 * 8 + 6 + 4 * 2

`3*8` and `4*2` are calculated first.

### Application
Now consider the following scenario. You bought lunch for 3 of your friends and
yourself. Each person had a sandwich (`$`6.50) and a soda (`$`1.50). How much in
total did you pay?

In this scenario, you pay `$`6.50 + `$`1.50 per person. Since there are 4 of you, you
paid

In [8]:
(6.50 + 1.50) * 4

32.0

On the following day, you bought lunch for 2 of your friends and yourself. Each
person had a slice of pizza (`$`3.00) and a bottled water (`$`1.25). How much in
total did you pay for lunch for both days?

In [10]:
(6.50 + 1.50) * 4 + (3.00 + 1.25) * 3

44.75

### Exercise

1. One British pound is equal to US`$`1.29. If you have a 20-pound bill, how much is it in US`$`?
2. A storage locker has the same width (6 ft) and length (6 ft). How big is this storage locker, in terms of square feet?
3. I have `$`28 in my wallet. How many burritos (`$`6.50 each) can I buy?
4. A temperature in Fahrenheit (F) can be converted to Celsius (C) by this formula:
$$C = (F – 32) \times 5/9$$
If the temperature outside is 92F, what is the temperature in Celsius?

# 2. String operations
<hr style="height:1px;border:none" />

In addition to numerical data, Python can also handle text data, also known as
strings. A string is a series of characters (including space), and often denoted
with quotation marks (`'`).

In [11]:
'Hello!'

'Hello!'

If you forget the quotation mark, then you will likely get an error message

In [12]:
Hello

NameError: name 'Hello' is not defined

These are examples of strings:
```python
'a', 'AA', 'Aaaargh!', 'Hello World!', '24', '24 x 7'
```

You can concatenate two strings with `+`. For example,

In [13]:
'Satoru' + 'Hayasaka'

'SatoruHayasaka'

In [14]:
'Maroon' + '5'

'Maroon5'

You can put a space between two strings to make it more readable.

In [15]:
'Satoru' + ' Hayasaka'

'Satoru Hayasaka'

You can also repeat string data with `*`. For example,

In [16]:
'Yum' * 3

'YumYumYum'

In [17]:
'Yuck! ' * 5

'Yuck! Yuck! Yuck! Yuck! Yuck! '

You can use both single quotation marks (`'`) and double quotation marks (`"`) to
denote strings, as long as they match at the beginning and the end. For example,

In [18]:
"O'Reilly Auto Parts"

"O'Reilly Auto Parts"

But

In [19]:
'O'Reilly Auto Parts'

SyntaxError: invalid syntax (<ipython-input-19-44e8fab2d37c>, line 1)

Gives you an error.

# 3. Variables
<hr style="height:1px;border:none" />

When you write a program, it is easier to store your numerical and string data to
variables. A variable can be considered as a box where you store your data. For
example,

In [1]:
age = 23

This statement puts 23 into a variable called age. If you type the variable name,
then you can see what's in it.

In [2]:
age

23

You can store a string into a variable. For example, in the variable called name,

In [3]:
name = 'Hayasaka'

In [4]:
name

'Hayasaka'

You can use variables in numerical and string operations. For example,

In [5]:
age + 5

28

In [6]:
'My name is ' + name

'My name is Hayasaka'

The value of the variable remains the same, until you replace it with something
else.

In [7]:
age = 35
age

35

In [8]:
age = 5
age

5

In [9]:
age = age + 3
age

8

Similarly,

In [10]:
name = 'Hayasaka'
name

'Hayasaka'

In [11]:
name = 'John Doe'
name

'John Doe'

In [12]:
'My name is ' + name

'My name is John Doe'

A variable is created when you assign a value to that variable using =. You can
name the variable any way you want. But there are certain rules you need to
follow.
  1. Variable names can contain only alphabets, numbers, and underscore (`_`).
  2. Variable names cannot start with a number.
  3. Variable names cannot contain a space
  4. Variable names are case sensitive. For example, **`Name`** and **`name`** are two different variables.
  5. You cannot use certain keywords reserved for Python.

|        |      |       |      |        |
|:--:    |:--:  |:--:   |:--:  |:--:    |
|and     |del   |finally|in    |print   |
|assert  |elif  |for    |is    |raise   |
|break   |else  |from   |lambda|return  |
|class   |except|global |not   |try     |
|continue|exec  |if     |or    |True    |
|def     |False |import |pass  |while   |
|        |      |       |      |yield   |
|        |      |       |      |        |

Here are some guidelines when you name variables.
  1. Be descriptive.
       - If your variable name is **`data1`**, then it is hard to figure out what is stored.
  2. Use lower case with underscores or camel case
       - **`max_response_time`** (lower case with underscore)
       - **`maxResponseTime`** (camel case)
  3. Avoid using "I" (upper case i), "l" (lower case L), or "O" (upper case o) alone.

### Exercise
Which of these variable names are valid?

|          |         |           |                 |
|:--:      |:--:     |:--:       |:--:             |
|two       |old_name |2step      |mystery_number_55|
|height    |@height  |MXDCGR     |SF36_score       |
|SF36-score|US`$`    |`%`increase| myName          |